body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #355c7d;
    color: white;
    font-size: 15px;

}

a {
    color: white;
    font-weight: 800;
}

a:hover {
    color: #f67280;
}

h1 {
    color: #C06c84;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    text-shadow: 2px 2px #6c5b7d;
}

img {
    height:50px;
    width:50px;
}

.main-container {
    padding-top: 50px;
    line-height: 15px;

}

.jumbotron {
    background-color: #355c7d;
}

.social {
    display: flex;
    justify-content: center;
}


