body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #333;
    color: white;
    font-size: 15px;

}

a {
    color: white;
    font-weight: 800;
}

a:hover {
    color: #eb5d00;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    text-shadow: 1px 1px 1px;
}

.icon {
    height:50px;
    width:50px;
}

.main-container {
    padding-top: 50px;
    line-height: 15px;

}

.jumbotron {
    background-color: #333;
}

.social {
    display: flex;
    justify-content: center;
}

.card-text{
    color: #333;
}

h5 {
    color: #333;
    text-decoration: underline;
}


.site-links {
    color: #333;
    text-align: center;
    font-weight: bold;
}

.git-links {
    color:#333;
    

}

.get-links:hover {
    color:#eb5d00;
}

#port-head {
    padding-top: 10px;
}

